<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1>Esse é o curso de PHP do curso em video.</h1>
            <p><a href="curso">Click aqui</a> para acessar exercício desafio 01 - Apresente-se.</p>
            <p><a href="numero">Click aqui</a> para acessar exercício desafio 02 - Numero antecessor e posterior.</p>
            <p><a href="aleatorio">Click aqui</a> para acessar exercício desafio 03 - Numero aleatório.</p>
            <p><a href="converter">Click aqui</a> para acessar exercício desafio 05 - Conversor dólar.</p>
            <p><a href="cotacao">Click aqui</a> para acessar exercício desafio 06 - Conversor com API.</p>
            <p><a href="formulario">Click aqui</a> para acessar exercício desafio 07 - Formulário retro-alimentado.</p>
            <p><a href="anatomia">Click aqui</a> para acessar exercício desafio 08 - Anatomia Divisão.</p>
            <p><a href="calculo_salario">Click aqui</a> para acessar exercício desafio 09 - Cálculo salário.</p>
            <p><a href="nascimento">Click aqui</a> para acessar exercício desafio 10 - Cálculo de idade.</p>
        </main>            
    </body>
</html>